@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700");

body {
  font-family: Inconsolata, mono;
}

.page {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;

  &.entering {
  }

  &.exiting {
    opacity: 0;
  }
}

h1, h2 {
  color: green;
}

.menu {
  li.current {
    font-weight: bold;
    text-decoration: none;
  }
}
